@import '../../scss/variables';

.categories {

    &__breadcrubs {
        display: inline-block;
        margin: 35px 0;

        font-size: 12px;
        line-height: 15px;
        font-weight: 400;

        color: $second_text;
        transition: color .2s linear;

        &:hover {
            color: $yellow;
        }
    }
}