@import '../../../scss/variables';

.header-top {
    display: flex;
    align-items: center;
    padding-right: 15px;


    &__logo {
        display: flex;
        align-items: center;
    }
    &__image {
        display: block;

        width: 39px;
        height: 36px;  
    }
    &__title {
        margin-left: 9px;

        font-size: 26px;
        line-height: 29px;
        
        color: $first_text;
    }


    &__nav {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__links {
        margin-left: 40px;
    }
    &__link {
        margin-left: 30px;

        font-size: 12px;
        line-height: 15px;
        font-weight: 400;

        color: $second_text;
        transition: color .2s linear;

        &:hover {
            color: $yellow;
        } 
    }
    &__contact {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;

        color: $second_text;
    }
}