@import '../../scss/variables';

.select {
    margin-right: 15px;
    
    padding: 12px 18px;
    
    width: 100%;
    max-width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 10;
    
    cursor: pointer;
    background-color: $search_bg;

    &.open {
        background-color: $white;
        filter: drop-shadow(0 0 5px #e4e4e4);
    }

    &.selected {
        border: 1px solid $yellow;
        background-color: $light_red;
    }

    &__name {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: $black;
    }
    &__logo {
        width: 12px;
        height: 9px;

        transition: transform .3s linear;

        &.open {
            transform: rotate(180deg);
        }
    }

    &__options {

        position: absolute;
        width: 100%;
        top: 105%;
        left: 0;
        z-index: 10;

        opacity: 0;
        visibility: hidden;

        background-color: $white;
        filter: drop-shadow(0 0 0px #e4e4e4);

        &.open {
            opacity: 1;
            visibility: visible;
        }
        &--multiple {
            top: 115%;
            width: 350px;
        }
    }
}