@import '../../scss/variables';

.header-mid {
    display: flex;
    align-items: center;

    &__search {
        width: 100%;
        max-width: 560px;
        height: 70px;

        position: relative;
    }
    &__input {
        padding-left: 31px;
        
        width: 100%;
        height: 100%;

        border: none;
        background-color: $search_bg;
    }
    &__search-icon {
        position: absolute;
        top: 35%;
        right: 30px;

        z-index: 10;

    }
}